@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.main-div {
    width: 100vw;
    height: 100vh;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    text-align: center;
}

@media (min-width:600px) and (max-width:900px) {
    .main-div {
        background-color: burlywood;
    }

    h1 {
        font-size: 32px;
    }
}

@media (max-width: 600px) {
    .main-div  {
        background-color: cornflowerblue;
    }
    h1 {
        font-size: 24px;
    }
}